<div class="card">
    <h5 class="card-content">This will show all calls</h5>
  </div>
  
  <div class="container">
    <ul *ngFor="let call of calls">
      <div class="card" *ngIf="call.active">
        <li id="{{ call._id }}" class="card-content"> 
          <div>
            {{ call.date | date }}
            <span (click)="markAsDone()" class="right green-text"> <i class="fa fa-check"></i> </span>
          </div> 
          <div class="container" (click)="viewStatus($event, call._id)">
            {{ call.customer }}, {{ call.city }}
            <div class="card" *ngIf="viewState && callId == call._id">
              <div class="card-content">
                <div class="card-title">
                  {{ call.customer }}
                </div>
                <p> {{ call.machine }} S/N: {{call.machine_serial_number }}</p>
                <p> Last counters: {{ call.date_last | date }} </p>
                <p> B/W: {{ call.bw_count }} @ {{ call.bw_rate }}</p>
                <p> CLR: {{ call.clr_count }} @ {{ call.clr_rate }}</p>
                <p *ngIf="call.min_charge">
                  Min. Charge: {{ call.min_charge }}
                </p>
              </div>
              <p></p>
            </div>  
          </div>
        </li>
      </div>
    </ul>
  </div>